@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  margin: 100px 0;
}

@media screen and (max-width: 992px) {
  section {
    margin: 70px 0;
  }
}

@media screen and (min-width: 2560px) {
  section {
    margin: 200px 0;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-roboto font-bold;
  }

  p {
    @apply font-roboto;
  }
}
